@import '_variables.scss';
@import '~bootstrap/scss/bootstrap';
@import "~@fontsource/poppins"; // Defaults to weight 400
@import "~@fontsource/poppins/400.css"; // Specify weight
@import "~@fontsource/poppins/900.css";
@import "~@fontsource/poppins/500.css";
@import "~@fontsource/poppins/400-italic.css"; // Specify weight and style
body {
  background-color: $bg-black;
  color: white;

}

.height-full {
  height: 100% !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navigation-list {
  list-style-type: none;
  padding: 30px;
  max-height: 730px;
  overflow: hidden;
  overflow-y: auto;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;

  a {
    text-decoration: none;
  }
}
.full-screen {
  height: 100vh !important;
}