
@import '@scss/_variables.scss';
aside {
  height: 100vh;
  position: fixed;
  background-color: $bg-secondary;
  border-right:2px solid #151c25;
  z-index: 1000;
}
.navigation-list {
  list-style-type: none;
  padding: 30px;
  max-height: 730px;
  overflow: hidden;
  overflow-y: auto;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  a{
    text-decoration: none;
  }
}

.er-nav {
  display: none;
}
.logo-container {
  background-color: $bg-third;
  padding: 25px;
}

.er-nav-mobile {
  padding: 25px;
}