@import '@scss/_variables.scss';
@import '@scss/_mixin.scss';
.home {
  height: 100vh;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative;
}

.heroSection {
  margin-bottom: 30px;
  b {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  > span {
    color: $primary-color;
  }
  font-size: 60px;
  font-weight: 900;
  line-height: 72px;
  @include font-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 35px;
}

.container-hero-section-home {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

p {
  cite {
    display: block;
  }
  color: $font-grey;
  @include font-text;
  font-weight: 500;
}